# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.Zone.Identifier

build/
dist/

# IDE settings
.vscode/
*.code-workspace
.idea/
.pre-commit-config.yaml

# Ignore SQLite or test result databases
*.db
*.sqlite
*.sqlite3

# HTML test results generated as well
*.html
