# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.Zone.Identifier

# IDE settings
.vscode/
*.code-workspace
.idea/

# Ignore SQLite or test result databases
*.db
*.sqlite
*.sqlite3
